    @import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

    html,
    body,
    form,
    fieldset,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    pre,
    blockquote,
    ul,
    ol,
    dl,
    address {
      margin: 0;
      padding: 0;

    }

    body {
      background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
      background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
      font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
      font-size: 14px;
      /* Font Rendering; */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      font-weight: 500;

    }

    a:link {
      color: #d42945;
      text-decoration: none;
      border-bottom: 1px dotted #ffbac8;
    }

    a:visited {
      color: #d42945;
      border-bottom: none;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: #f03b58;
      border-bottom: 1px solid #f03b58;
      text-decoration: none;
    }

    table a,
    table a:link,
    table a:visited {
      border: none;
    }

    img {
      border: 0;
      margin-top: .5em;
    }

    table {
      width: 80%;
      border-top: 1px solid #333333;
      border-right: 1px solid #333333;
      border-left: 1px solid #333333;
      border-bottom: 1px solid #333333;
      margin: 1em auto;
      border-collapse: collapse;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    caption {
      color: #404040;
      font-size: 14px;
      letter-spacing: .05em;
      padding: 0;
      margin: 1em 0 0 0;
      margin-bottom: 10px;
      caption-side: top;
      text-align: center;
    }

    tr.odd td {
      color: #FFF;
      background: #3467D6;
    }

    
    tr.odd .column1 {}

    .column1 {
      background-color: transparent;
      color: #333333;
      width: 20px;
      text-align: center;
    }

    td {
      color: #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #333333;
      padding: .3em 1em;
      text-align: center;
    }

    th {
      font-weight: normal;
      color: #333333;
      text-align: left;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #333333;
      padding: .3em 1em;
    }

    thead th {
      background: transparent;
      text-align: center;
      font: bold 1.2em/2em;
      font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
      color: #66a3d3
    }

    tfoot th {
      background: transparent;
      text-align: center;
    }

    tfoot th strong {
      font: bold 1.2em 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
      margin: .5em .5em .5em 0;
      color: #66a3d3;
    }

    tfoot th em {
      color: #f03b58;
      font-weight: bold;
      font-size: 14px;
      font-style: normal;
    }

    input {
      text-align: center;
      background-color: #EDEDED;
      padding: 6px;
      border: 0.5px solid #333333;


    }

    textarea:focus,
    input:focus {
      border: 0.5px solid #47CF73;
    }


    input.error {
      border: 0.5px solid #EE3555;
    }

    .info {
      background-color: #3467D6;
      background-image: url(icon-info.png);
      background-size: 32px 32px;
      color: #FFF !important;
      width: 80%;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }


    .warning {
      background-color: #EE3555;
      background-image: url(icon-warning.png);
      background-size: 32px 32px;
      color: #FFF !important;
      width: 80%;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .info,
    .warning,
    .error1,
    .success1 {
      background-position: 10px 50%;
      background-repeat: no-repeat;
      border: 1px solid;
      border-color: #333333;
      margin: 10px;
      margin-left: auto;
      margin-right: auto;
      padding: 15px 10px 15px 50px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .indicacionform {
      font: 9px;
      font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
      color: #336699;
    }

    #warning2 {
      margin: 15px;
      padding: 7px;
      text-indent: 5px;
      border: 1px solid #b8c4e6;
      color: #333333;
      font-weight: bold;
      padding-left: 20px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    #warning2 {
      display: none;
    }

    em.error {
      display: block;
      height: 10px;
      padding-left: 15px;
      font: 9px;
      font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
      color: #ff5432;
    }

    em.success {
      display: block;
      height: 10px;
      padding-left: 15px;
      font: 9px;
      font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
      color: #336699;
    }

    .error1 {
      color: #D8000C !important;
      background-color: #FFBABA;
      background-image: url('icon-cross.png');
      background-size: 32px 32px;
      width: 80%;
    }

    .success1 {
      color: #4F8A10 !important;
      background-color: #DFF2BF;
      background-image: url('icon-tick.png');
      background-size: 32px 32px;
      width: 50%;
    }

    .pure-material-button-contained {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      border: none;
      border-radius: 4px;
      padding: 0 16px;
      min-width: 64px;
      height: 36px;
      vertical-align: middle;
      text-align: center;
      text-overflow: ellipsis;
      text-transform: uppercase;
      color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      background-color: rgb(var(--pure-material-primary-rgb, 238,	53,	85));
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      transition: box-shadow 0.2s;
    }

    .pure-material-button-contained::-moz-focus-inner {
      border: none;
    }

    /* Overlay */
    .pure-material-button-contained::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      opacity: 0;
      transition: opacity 0.2s;
    }

    /* Ripple */
    .pure-material-button-contained::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      padding: 50%;
      width: 32px;
      /* Safari */
      height: 32px;
      /* Safari */
      background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      opacity: 0;
      transform: translate(-50%, -50%) scale(1);
      transition: opacity 1s, transform 0.5s;
    }

    /* Hover, Focus */
    .pure-material-button-contained:hover,
    .pure-material-button-contained:focus {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .pure-material-button-contained:hover::before {
      opacity: 0.08;
    }

    .pure-material-button-contained:focus::before {
      opacity: 0.24;
    }

    .pure-material-button-contained:hover:focus::before {
      opacity: 0.3;
    }

    /* Active */
    .pure-material-button-contained:active {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .pure-material-button-contained:active::after {
      opacity: 0.32;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0s;
    }

    /* Disabled */
    .pure-material-button-contained:disabled {
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
      background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
      box-shadow: none;
      cursor: initial;
    }

    .pure-material-button-contained:disabled::before {
      opacity: 0;
    }

    .pure-material-button-contained:disabled::after {
      opacity: 0;
    }

    .imgcenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin: 20px auto;
      padding: "30";
      width: "100%";
      max-width: 100px;
    }